{% extends 'base.html.twig' %}

{% block title %}{{ 'title.register'|trans }}{% endblock %}

{% block body %}
<section class="container px-4">
    <div class="w-50 m-auto">
        <h1>{{ 'register.register'|trans }}</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username, {label :  'label.username'|trans }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'label.password'|trans,
            }) }}

            {#<button type="submit" class="btn">Register</button>#}
                <button class="btn btn-lg btn-primary" type="submit">
                    {{ 'button.register'|trans }}
                </button>
        {{ form_end(registrationForm) }}
    </div>
</section>
{% endblock %}
