<div class="card mb-1">
    <div class="card-body">
        <div class="card-title d-flex justify-content-between">
            <h4 class="mb-1">{{ depense.name }} - 
            {% if depense.category.name is defined and depense.category.name is not null %}            
                {{ depense.category.name }}</h4>
            {% endif %}
            <small class="text-muted">Valeur : {{ depense.amount|number_format(2) }} €</small>
        </div>
        <div class="card-title d-flex justify-content-between">
            <h5 class="mb-1">{{ depense.created|date('d M Y') }}</h5>
            {% if showCreated %}
                <h5 class="mb-1">{{ depense.createdBy.username }}</h5>
            {% endif %}
        </div>
        {% if (edit) %}
            <a href="{{ path('app_depense_edit', {id: depense.id}) }}" class="btn btn-secondary">Editer</a>
            <a href="{{ path('app_depense_delete', {id: depense.id}) }}" class="btn btn-warning">Supprimer</a>
        {% endif %}
    </div>
</div>
