
<header class="bg-primary bg-gradient text-white">
    <div class="container container-fluid">
        <h1 class="fw-bolder">
            Bonjour {{ app.user.username }}!!!
        </h1>
        <ul>
            <li>Depense du mois : {{ serviceDepenseUser.DepenseMonth('now'|date('n'), 'now'|date('Y'))|number_format(2) }} €</il>
            <li>Depense du mois précédent : {{ serviceDepenseUser.DepenseMonth('now'|date('n')-1, 'now'|date('Y'))|number_format(2) }} €</il>
            <li>Depense de l'année : {{ serviceDepenseUser.DepenseYear('now'|date('Y'))|number_format(2) }} €</il>
            <li>Depense de l'année précédent : {{ serviceDepenseUser.DepenseYear('now'|date('Y')-1)|number_format(2) }} €</il>
        </ul>

        {% if serviceFamily.GetUserFamily %}
            Famille : {{ serviceFamily.GetUserFamily }}
            <ul>
                <li>Depense du mois : {{ serviceDepenseFamily.DepenseMonth('now'|date('n'), 'now'|date('Y'))|number_format(2) }} €</il>
                <li>Depense du mois précédent : {{ serviceDepenseFamily.DepenseMonth('now'|date('n') - 1, 'now'|date('Y'))|number_format(2) }} €</il>
            </ul>
        {% endif %}
    </div>
</header>
<section>
    {{ include(('main/_main_WidgetArea.html.twig')) }}
</section>
