
<header class="bg-primary bg-gradient text-white">
    {% set year = 'now'|date('Y') %}
    {% set month = 'now'|date('n') %}
    {% set user = app.user %}
    <div class="container container-fluid">
        <h1 class="fw-bolder">
            Bonjour {{ app.user.username }}!!!
        </h1>
        <ul>
            <li>Depense du mois : {{ serviceDepenseUser.DepenseMonth(user,month, year)|number_format(2) }} €</li>
            <li>Depense du mois précédent : {{ serviceDepenseUser.DepenseMonth(user,month-1, year)|number_format(2) }} €</li>
            <li>Depense de l'année : {{ serviceDepenseUser.DepenseYear(year)|number_format(2) }} €</li>
            <li>Depense de l'année précédent : {{ serviceDepenseUser.DepenseYear(year-1)|number_format(2) }} €</li>
        </ul>

        {% if serviceFamily.GetUserFamily %}
            Famille : {{ serviceFamily.GetUserFamily }}
            <ul>
                <li>Depense du mois : {{ serviceDepenseFamily.DepenseMonth(user, month, year)|number_format(2) }} €</li>
                <li>Depense du mois précédent : {{ serviceDepenseFamily.DepenseMonth(user,month - 1, year)|number_format(2) }} €</li>
                <li>Depense de l'année : {{ serviceDepenseFamily.DepenseYear(user,year)|number_format(2) }} €</li>
                <li>Depense de l'année précédente : {{ serviceDepenseFamily.DepenseYear(user,year - 1)|number_format(2) }} €</li>
            </ul>
        {% endif %}
    </div>
    {% if serviceFamily.GetUserFamily %}
    <div class="container container-fluid">
        <h1 class="fw-bolder">
            Moyenne pour la famille ({{ year }})
        </h1>
        <ul>
            <li>Moyenne de l'année : {{ serviceMoyenne.CalculMoyenneMonth(serviceDepenseFamily.DepenseYear(user,year), month)|number_format(2) }} €</li>
            {% for category in serviceCategory.GetAllCategories(user) %}
                <li>Montant par catégorie {{ category.name }} : {{ serviceDepenseCategory.sumDepenseByCategoryByYear(user,category.id, year)|number_format(2) }}</li>
                <li>Moyenne par catégorie {{ category.name }} : {{ serviceMoyenne.CalculMoyenneMonth(serviceDepenseCategory.sumDepenseByCategoryByYear(user,category.id, year) , month)|number_format(2) }} €</li>
            {% endfor %}
        </ul>
    </div>
        <li>Moyenne de l'année précédente : {{ serviceMoyenne.CalculMoyenneMonth(serviceDepenseFamily.DepenseYear(user,year - 1), 12)|number_format(2) }} €</li>
    {% endif %}
</header>
<section>
    {{ include(('main/_main_WidgetArea.html.twig')) }}
</section>
