
<header class="bg-primary bg-gradient text-white">
<div class="container container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="fw-bolder">
                Bonjour {{ app.user.username }}!!!
            </h1>
        </div>
        <div class="col ">
        <ul>
            <li>Depense du mois : {{ serviceDepenseUser.ConnectedUserDepenseMonth('now'|date('n'), 'now'|date('Y'))|number_format(2) }} €</il>
            <li>Depense du mois précédent : {{ serviceDepenseUser.ConnectedUserDepenseMonth('now'|date('n')-1, 'now'|date('Y'))|number_format(2) }} €</il>
            <li>Depense de l'année : {{ serviceDepenseUser.ConnectedUserDepenseYear('now'|date('Y'))|number_format(2) }} €</il>
            <li>Depense de l'année précédent : {{ serviceDepenseUser.ConnectedUserDepenseYear('now'|date('Y')-1)|number_format(2) }} €</il>
        </ul>

        </div>
    </div>

        <div class="row">
            <div class="col">
                {% if serviceFamily.GetUserFamily %}
                    Famille : {{ serviceFamily.GetUserFamily }}
                    <ul>
                        <li>Depense du mois : {{ serviceDepenseFamily.FamilyTotalMonth('now'|date('n'), 'now'|date('Y'))|number_format(2) }} €</il>
                        <li>Depense du mois précédent : {{ serviceDepenseFamily.FamilyTotalMonth('now'|date('n') - 1, 'now'|date('Y'))|number_format(2) }} €</il>
                    </ul>
                {% endif %}
            </div>
        </div>

</div>
</header>
<section>
    {{ include(('main/_main_WidgetArea.html.twig')) }}
</section>
