<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ 'nav.admin'|trans }}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ path('app_admin_family_index') }}">{{ 'nav.admin.manage_family'|trans }}</a>
        <a class="dropdown-item" href="{{ path('app_user_profil_index') }}">{{ 'nav.admin.manage_user'|trans }}</a>
        <a class="dropdown-item" href="{{ path('app_admin_depense_index') }}">{{ 'nav.admin.manage_depense'|trans }}</a>
        <a class="dropdown-item" href="{{ path('app_admin_category_index') }}">{{ 'nav.admin.manage_category'|trans }}</a>
    </div>
</li>
