<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ 'nav.depense'|trans }}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ path('app_depense_new') }}">{{ 'nav.depense.new'|trans }}</a>
        <a class="dropdown-item" href="{{ path('app_depense_index') }}">{{ 'nav.depense.show'|trans }}</a>
        <a class="dropdown-item" href="{{ path('app_chart_depense') }}">{{ 'nav.depense.report'|trans }}</a>
        <a class="dropdown-item" href="{{ path('app_depense_search') }}">{{ 'nav.depense.search'|trans }}</a>
    </div>
</li>
