<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ 'nav.family'|trans }}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% if is_granted('IsMainMemberFamily') %}
           <a class="dropdown-item" href="{{ path('app_family_password_index') }}">{{ 'nav.family.password'|trans }}</a>
        {% endif %}

        {% if is_granted('hasNoFamily') %}
            <a class="dropdown-item" href="{{ path('app_family_join_index') }}">{{ 'nav.family.join'|trans }}</a>
            <a class="dropdown-item" href="{{ path('app_family_new') }}">{{ 'nav.family.create'|trans }}</a>
        {% else %}
                <a class="dropdown-item" href="{{ path('app_family_leave') }}">{{ 'nav.family.leave'|trans }} {# {{ app.user.family.name}} #}</a>
        {% endif %}

    </div>
</li>
