<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container px-4">
        <a class="navbar-brand" href="{{ path('app_main') }}">
            {{ nameOfApplication }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                        </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        {{ include(('navbar/_admin-navbar.html.twig')) }}
                    {% endif %}

                    {{ include(('navbar/_family-navbar.html.twig')) }}
                    {{ include(('navbar/_depense-navbar.html.twig')) }}
                    {{ include(('navbar/_category-navbar.html.twig')) }}
                    {{ include(('navbar/_chart-navbar.html.twig')) }}

                    <li class="nav-item">
                        <a class="nav-link" id="decoBtn" href="{{ path('app_logout') }}">
                            {{ 'nav.logout'|trans }} {{ ux_icon('material-symbols:logout-sharp', {height: '20px', width: '20px', 'aria-hidden': true}) }}
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">
                            {{ 'nav.login'|trans }} {{ ux_icon('material-symbols:login', {height: '20px', width: '20px', 'aria-hidden': true}) }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">
                            {{ 'register'|trans }} {{ ux_icon('material-symbols:app-registration', {height: '20px', width: '20px', 'aria-hidden': true}) }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
