{% extends 'base.html.twig' %}

{% block title %}Liste de Familles{% endblock %}

{% block body %}
    <section class="container px-4">
        <h1>Liste de Familles</h1>
        <a href="{{ path('app_family_new') }}" class="btn btn-warning">Add</a>
        <ul class="list-group list-group-flush">
            {% for family in families %}
                <div class="card mb-1">
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between">
                            <a href="{{ path('app_family_show', {id: family.id}) }}" class="stretched-link link-dark">
                                <h4 class="mb-1">{{ family.name }}</h4>
                            </a>
                            <small class="text-muted">Identifiant : {{ family.id }}</small>
                            <small class="text-muted">Depenses : {{ calculateService.GetSumAmount(family) }}</small>
                        </div>
                    </div>
                </div>
            {% else %}
                <li>Aucun enregistrement en base de données.</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}