{% extends 'base.html.twig' %}

{% block title %}Familles{% endblock %}

{% block body %}
<section class="container px-4">
    <h1>Famille : </h1>

    {% if family is not null %}
        <div class="card mb-1 m-auto">
            <div class="card-body">
                <div class="card-title d-flex justify-content-between">
                    <h4 class="mb-1">{{ family.name }}</h4>
                    <small class="text-muted">Identifiant : {{ family.id }}</small>
                    <small class="text-muted">Somme famille : {{ calculateService.GetSumAmount(family) }}</small>
                    <small class="text-muted">Somme du mois : {{ calculateService.GetSumAmoutForMonth(family) }}</small>
                    <ul>
                        {% for member in family.Members %}<div class="card mb-1">
                            <div class="card-body">
                                <div class="card-title d-flex justify-content-between">
                                    <small class="text-muted">{{ member.username }}</small>
                                    </div>
                                    <small class="text-muted">{{ calculateService.GetSumAmount(member) }} € </small>
                                    <small class="text-muted">Somme du mois : {{ calculateService.GetSumAmoutForMonth(member) }} € </small>
                                </div>
                            </div>                     
                        {% else %}
                            <li>Aucun enregistrement en base de données.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
        <div>categorie non trouvé</div>
    {% endif %}
    <a href="{{ path('app_family_index') }}" class="btn btn-primary">Retour</a>
    <a href="{{ path('app_family_edit', {id: family.id}) }}" class="btn btn-warning">Éditer</a>
    <a href="{{ path('app_family_delete', {id: family.id}) }}" class="btn btn-secondary">Supprimer</a>
    <a href="{{ path('app_family_join', {id: family.id}) }}" class="btn btn-secondary">Rejoindre</a>
</section>
{% endblock %}