{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
<section class="container px-4">
    <h1>Categorie : </h1>

    {% if category is not null %}
        <div class="card mb-1 m-auto">
            <div class="card-body">
                <div class="card-title d-flex justify-content-between">
                    <h4 class="mb-1">{{ category.name }}</h4>
                    <small class="text-muted">Identifiant : {{ category.id }}</small>
                    <small class="text-muted">Crée par : {{ category.createdBy.username }}</small>
                    <small class="text-muted">Depense total : {{ category.GetSumAmount() }}</small>
                </div>
            </div>
        </div>
    {% else %}
        <div>categorie non trouvé</div>
    {% endif %}
    <a href="{{ path('app_category_index') }}" class="btn btn-primary">Retour</a>
    <a href="{{ path('app_category_edit', {id: category.id}) }}" class="btn btn-warning">Éditer</a>
    <a href="{{ path('app_category_delete', {id: category.id}) }}" class="btn btn-secondary">Supprimer</a>
</section>
{% endblock %}
