{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
<section class="container px-4">
    <h1>User : </h1>

    {% if user is not null %}
        <div class="card mb-1 m-auto">
            <div class="card-body">
                <div class="card-title d-flex justify-content-between">
                    <h4 class="mb-1">{{ user.username }}</h4>
                    <small class="text-muted">Identifiant : {{ user.id }}</small>
                    <ul class="list-group list-group-flush">
                        {% for depense in user.depenses %}
                            {{ include('partials/_form-amount.hmtl.twig', {depense: depense, edit:false, showCreated:true}, false) }}
                        {% else %}
                            <li>Aucun enregistrement en base de données.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
        <div>categorie non trouvé</div>
    {% endif %}
    <a href="{{ path('app_user_profil_index') }}" class="btn btn-primary">Retour</a>
    <a href="{{ path('app_user_profil_edit', {id: user.id}) }}" class="btn btn-secondary">Éditer</a>
    <a href="{{ path('app_user_profil_delete', {id: user.id}) }}" class="btn btn-warning">Supprimer</a>
</section>
{% endblock %}
