<div{{ attributes }}>
    <div class="form-group">
        <input
            type=date
               class="form-control search-field"
               autocomplete="off"
               {#
                   Using the data-model attribute ensures that the property will be automatically updated on the component
                   See https://symfony.com/bundles/ux-live-component/current/index.html#data-binding
               #}
               data-model="startDate"
               autofocus
        >
    </div>
    <div class="container-fluid">
    {% if type != 'family' %}
        <h1>Mes depenses par catégorie pour le mois en cours : </h1>
    {% else %}
        <h1>Les dépenses de la famille pour le mois en cours : </h1>
    {% endif %}
        <h2>Total : {{ this.total|number_format(2) }} €</h2>
        <div class="container">
        {% if (this.total > 0.0) %}
            {% for depense in this.depenses|sort((a, b) => b.amount <=> a.amount) %}
                {{ component('ProgressBarDepense', {percentage: depense.amount * 100.0 / this.total}) }}
                {% if type != 'family' %}
                    {{ include('partials/_form-amount.hmtl.twig', {depense: depense, edit: false, showCreated: true}, false) }}
                {% else %}
                    {{ include('partials/_form-amount.hmtl.twig', {depense: depense, edit: false, showCreated: false}, false) }}
                {% endif %}
            {% else %}
                <li>Aucun enregistrement en base de données.</li>
            {% endfor %}
        {% endif %}

        </div>
    </div>
</div>
